Checks: 'misc-unused-includes,bugprone-*,modernize-*,performance-*,readability-*,-modernize-use-trailing-return-type'
WarningsAsErrors: 'misc-unused-includes'
CheckOptions:
  - key: misc-unused-includes.IncludeCleaner
    value: 'true'
