POSTGRES_USER=kingdom
POSTGRES_PASSWORD=kingdom
POSTGRES_DB=kingdom
POSTGRES_PORT=5432

KD_DB_URL=postgresql://kingdom:kingdom@localhost:5432/kingdom
KD_TLS_CERT=certs/server.crt
KD_TLS_KEY=certs/server.key
