POSTGRES_USER=kingdom
POSTGRES_PASSWORD=kingdom
POSTGRES_DB=kingdom
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

KD_DB_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
KD_TLS_CERT=certs/server.crt
KD_TLS_KEY=certs/server.key
KD_JWT_SECRET=replace-this-local-dev-secret-with-at-least-32-chars
KD_JWT_TTL_SECONDS=3600
KD_BLOCKCHAIN_SIDECAR_SECRET=replace-this-sidecar-secret-with-at-least-32-chars
KD_PORT=8080
